.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-course {
	font-family: sans-serif; 	
}

.test-component {
	display: flex;
	justify-content: center;
 }

 .nota-final-buttom {
 	color: black;
 }

.google-buttom {
	margin: 10px 0;
}

.socialLogin{
	display: flex;
	flex-direction: column;
}